.main {
    padding: 20px;
}

.saveButton {
    position: absolute; /* Posiciona el botón dentro del contenedor */
    top: 10px; /* Ajusta la distancia desde la parte superior */
    right: 50px; /* Ajusta la distancia desde la parte derecha */
    padding: 10px 20px;
    background-color: #295417; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.saveButton:hover {
    background-color: #2b9400; /* Color de fondo al pasar el cursor */
}